<div class="leader">
    <h4 id="leader"></h4>
     <p id="informational"> Data from <%=link_to "@everycolor", "https://twitter.com/everycolorbot" %> || Special thanks to its creator, <%=link_to "@vogon", "https://twitter.com/vogon" %> || <%= link_to "Ben Brostoff", "http://benbrostoff.github.io/" %></p>
</div>
       
